{% extends 'admin/origin/layout.html.twig' %}

{% block title %}Add new origin{% endblock %}

{% block content %}
    <div class="row">
        <div class="container">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="form-group mb-4">
            <div class="card p-4">
                <div class="row">
                    {% do form.name.setRendered() %}
                    <div class="col">
                        {{ form_row(form.label, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.host, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group mb-4">
            <div class="card p-4">
                <div class="row ps-3">
                    <div class="form-check mb-3">
                        {{ form_widget(form.record) }}
                        {{ form_label(form.record) }}
                    </div>

                    <div class="form-group" id="record-config-params">
                        <div class="form-check mb-3">
                            {{ form_widget(form.overwriteRecord) }}
                            {{ form_label(form.overwriteRecord) }}
                        </div>

                        <div class="form-check mb-3">
                            {{ form_widget(form.readFromRecord) }}
                            {{ form_label(form.readFromRecord) }}
                        </div>
                    </div>

                    <div class="form-check mb-3">
                        {{ form_widget(form.saveOriginalRequest) }}
                        {{ form_label(form.saveOriginalRequest) }}
                    </div>

                    <div class="form-check mb-3">
                        {{ form_widget(form.log) }}
                        {{ form_label(form.log) }}
                    </div>

                    <div class="form-check mb-3">
                        {{ form_widget(form.transformOptions.hashUri) }}
                        {{ form_label(form.transformOptions.hashUri) }}

                        {% do form.transformOptions.setRendered() %}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group mb-4">
            <div class="card">
                <div class="card-header">Ignore request payload parameters</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="d-inline-block mb-3">
                                        <h5>Headers</h5>
                                    </div>
                                    <button
                                        type="button"
                                        class="add-another-collection-widget btn btn-primary position-relative float-end align-top"
                                        data-list-selector="#ignore-headers-fields-list"
                                    >+</button>
                                    <div class="row">
                                        <div
                                            id="ignore-headers-fields-list"
                                            data-prototype="{{ form_widget(form.ignoreHeaders.vars.prototype)|e }}"
                                            data-widget-tags="{{ '<div class="ignore_headers_entry input-group"></div>'|e }}"
                                            data-widget-counter="{{ form.ignoreHeaders|length }}"
                                        >
                                        {% for headerField in form.ignoreHeaders %}
                                            <div class="ignore_headers_entry input-group">
                                                {{ form_errors(headerField) }}
                                                {{ form_widget(headerField) }}
                                            </div>
                                        {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% do form.ignoreHeaders.setRendered() %}
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="d-inline-block mb-3">
                                        <h5>Content properties</h5>
                                    </div>
                                    <button
                                        type="button"
                                        class="add-another-collection-widget btn btn-primary position-relative float-end align-top"
                                        data-list-selector="#ignore-content-fields-list"
                                    >+</button>
                                    <div class="row">
                                        <div
                                            id="ignore-content-fields-list"
                                            data-prototype="{{ form_widget(form.ignoreContent.vars.prototype)|e }}"
                                            data-widget-tags="{{ '<div class="ignore_content_entry"></div>'|e }}"
                                            data-widget-counter="{{ form.ignoreContent|length }}"
                                        >
                                        {% for contentField in form.ignoreContent %}
                                            <div class="ignore_content_entry">
                                                {{ form_errors(contentField) }}
                                                {{ form_widget(contentField) }}
                                            </div>
                                        {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% do form.ignoreContent.setRendered() %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-inline-block mb-3">
                                        <h5>Other request payload parameters</h5>
                                    </div>
                                    <div class="form-check mb-3">
                                        {{ form_widget(form.ignoreFiles) }}
                                        {{ form_label(form.ignoreFiles) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group mb-4">
            <div class="card">
                <div class="card-header">Proxy client configuration</div>
                <div class="card-body">
                    <div class="form-check mb-3">
                        {{ form_widget(form.proxyConfig) }}
                        {{ form_label(form.proxyConfig) }}
                    </div>
                    <div class="form-group" id="proxy-config-params">
                        <div class="form-check mb-3">
                            {{ form_widget(form.proxyVerify) }}
                            {{ form_label(form.proxyVerify) }}
                        </div>
                        <div class="form-check mb-3">
                            {{ form_widget(form.proxyErrors) }}
                            {{ form_label(form.proxyErrors) }}
                        </div>
                        <div class="form-check mb-3">
                            {{ form_widget(form.proxyAllowRedirect) }}
                            {{ form_label(form.proxyAllowRedirect) }}
                        </div>
                        <div class="card mb-3" id="redirect-params">
                            <div class="card-body">
                                {{ form_row(form.proxyRedirectParams.max, {'attr': {'class': 'form-control mb-3'}}) }}

                                <div class="form-check mb-3">
                                    {{ form_widget(form.proxyRedirectParams.strict) }}
                                    {{ form_label(form.proxyRedirectParams.strict) }}
                                    {{ form_help(form.proxyRedirectParams.strict) }}
                                </div>
                                <div class="form-check mb-3">
                                    {{ form_widget(form.proxyRedirectParams.referer) }}
                                    {{ form_label(form.proxyRedirectParams.referer) }}
                                </div>

                                <div class="form-group mb-3">
                                    {{ form_label(form.proxyRedirectParams.protocols) }}
                                    {% for protocol in form.proxyRedirectParams.protocols %}
                                        <div class="form-check">
                                            {{ form_widget(protocol) }}
                                            {{ form_label(protocol) }}
                                        </div>
                                    {% endfor %}
                                    {% do form.proxyRedirectParams.protocols.setRendered() %}
                                </div>

                                <div class="form-check mb-3">
                                    {{ form_widget(form.proxyRedirectParams.track_redirects) }}
                                    {{ form_label(form.proxyRedirectParams.track_redirects) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form_row(form.proxyTimeout, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col">
                                {{ form_row(form.proxyVersion, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-check mb-3">
                            {{ form_widget(form.proxyDebug) }}
                            {{ form_label(form.proxyDebug) }}
                            {{ form_help(form.proxyDebug) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group mt-5 mb-5">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}, 'label': 'Save'}) }}
            <a href="{{ path('admin.origin.list') }}" class="btn btn-outline-secondary">Cancel</a>
        </div>

        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}