{% extends 'admin/origin/layout.html.twig' %}

{% block title %}Add new origin{% endblock %}

{% block content %}
    <div class="row">
        <div class="container">
        {{ form_start(form) }}

        {{ form_errors(form) }}

        {% do form.name.setRendered() %}

        {{ form_row(form.label, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.host, {'attr': {'class': 'form-control'}}) }}

            <div class="form-check">
            {{ form_widget(form.record) }}
            {{ form_label(form.record) }}
            </div>

            <div class="form-check">
                {{ form_widget(form.saveOriginalRequest) }}
                {{ form_label(form.saveOriginalRequest) }}
            </div>

            <div class="form-check">
                {{ form_widget(form.log) }}
                {{ form_label(form.log) }}
            </div>

        <hr class="my-4">

        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}, 'label': 'Save'}) }}

        <a href="{{ path('admin.origin.list') }}" class="btn btn-outline-secondary">Cancel</a>

        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}