{% extends 'admin/layout.html.twig' %}

{% block content %}
    <div class="row">
        {{ form_start(form) }}

        {{ form_errors(form) }}

        <p>Do you really want to delete <em>{{ origin }}</em> ?</p>

        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-danger'}, 'label': 'Delete'}) }}

        <a href="{{ path('admin.origin.list') }}" class="btn btn-outline-secondary">Cancel</a>

        {{ form_end(form) }}
    </div>
{% endblock %}