{% extends 'admin/layout.html.twig' %}

{% block content %}
    <div class="row">
        {{ form_start(form) }}

        {{ form_errors(form) }}

        {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.label, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.host, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.mode) }}
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}, 'label': 'Save'}) }}

        <a href="{{ path('admin.origin.list') }}" class="btn btn-outline-secondary">Cancel</a>
        <a href="{{ path('admin.origin.delete', {'origin_id': form.name.vars.value}) }}" class="btn btn-danger">Delete</a>

        {{ form_end(form) }}
    </div>
{% endblock %}