{% extends 'admin/layout.html.twig' %}

{% block actions %}
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a class="btn btn-outline-primary" href="{{ path('admin.origin.add') }}">Add +</a>
            </div>
        </div>
{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-borderless">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Label</th>
                    <th colspan="2">Host</th>
                </tr>
            </thead>
            <tbody>
            {% if origins is not empty %}
                {% for origin in origins %}
                    <tr>
                        <td>{{ origin.name }}</td>
                        <td>{{ origin.label }}</td>
                        <td>
                            <a target="_blank" href="{{ origin.host }}">{{ origin.host }}</a>
                        </td>
                        <td class="text-right">
                            <a class="btn" href="{{ path('admin.mock.list', {'origin_id': origin.name}) }}">View</a>
                            <a class="btn btn-primary" href="{{ path('admin.origin.edit', { 'origin_id': origin.name }) }}">Edit</a>
                            <a class="btn btn-danger" href="{{ path('admin.origin.delete', { 'origin_id': origin.name }) }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>There are no origins defined.</td>
                </tr>
            {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}