{% extends 'admin/layout.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block actions %}
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a class="btn btn-outline-primary" href="{{ path('admin.origin.add') }}">Add Origin +</a>
            <a class="btn btn-outline-primary" href="{{ path('admin.mock.list.add') }}">Add Mock record +</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div>
        <h2 class="h3">Origins</h2>
        <div class="table-responsive">
            <table class="table table-striped table-borderless">
                <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Label</th>
                    <th>Host</th>
                    <th>Mocks</th>
                    <th>Requests</th>
                    <th>Logs</th>
                    <th colspan="2"></th>
                </tr>
                </thead>
                <tbody>
                {% if origins is not empty %}
                    {% for origin in origins %}
                        <tr>
                            <td>{{ origin.name }}</td>
                            <td>{{ origin.label }}</td>
                            <td>
                                <a target="_blank" href="{{ origin.host }}">{{ origin.host }}</a>
                            </td>
                            <td>
                                {% if origin.record %}
                                    <h4><span class="badge bg-success">Yes</span></h4>
                                {% else %}
                                    <h4><span class="badge bg-danger">No</span></h4>
                                {% endif %}
                            </td>
                            <td>
                                {% if origin.saveOriginalRequest %}
                                    <h4><span class="badge bg-success">Yes</span></h4>
                                {% else %}
                                    <h4><span class="badge bg-danger">No</span></h4>
                                {% endif %}
                            </td>
                            <td>
                                {% if origin.log %}
                                    <h4><span class="badge bg-success">Yes</span></h4>
                                {% else %}
                                    <h4><span class="badge bg-danger">No</span></h4>
                                {% endif %}
                            </td>
                            <td class="text-end">
                                <a class="btn btn-outline-info" target="_blank" href="{{ path('proxy', { 'origin_id': origin.name, 'url': '' }) }}" title="Record a origin response, but return original.">Proxy</a>
                                <a class="btn btn-outline-info" target="_blank" href="{{ path('mock', { 'origin_id': origin.name, 'url': '' }) }}" title="Return a found response, error if none is found.">Mock</a>
                                <a class="btn btn-outline-info" target="_blank" href="{{ path('proxy.mock', { 'origin_id': origin.name, 'url': '' }) }}" title="Return a found recorded response if found, else record and return original.">Proxy mock</a>
                            </td>
                            <td class="text-end">
                                {% if origin.record == true %}
                                    <a class="btn btn-outline-primary" href="{{ path('admin.mock.list', {'origin_id': origin.name}) }}">Records</a>
                                {% endif %}
                                <a class="btn btn-primary" href="{{ path('admin.origin.edit', { 'origin_id': origin.name }) }}">Edit</a>
                                <a class="btn btn-danger" href="{{ path('admin.origin.delete', { 'origin_id': origin.name }) }}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">There are no origins defined.</td>
                    </tr>
                {% endif %}
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-end">
            <a class="btn btn-outline-primary" href="{{ path('admin.origin.list') }}">See all origins</a>
        </div>
    </div>
    <div>
        <h2 class="h3">Mock records</h2>
        <div class="table-responsive">
            <table class="table table-striped table-borderless">
                <thead class="thead-dark">
                <tr>
                    <th>Created</th>
                    <th>Origin</th>
                    <th>Method</th>
                    <th>Status</th>
                    <th colspan="2">Original request URL</th>
                </tr>
                </thead>
                <tbody>
                {% if mocks is not empty %}
                    {% for mock in mocks %}
                        <tr>
                            <td>{% if mock.date is not empty %}{{ mock.date }}{% else %}-{% endif %}</td>
                            <td>
                                <a href="{{ path('admin.mock.list', {'origin_id': mock.origin.name}) }}">
                                    {{ mock.origin.label }}
                                </a>
                            </td>
                            <td>{{ mock.method }}</td>
                            <td>{{ mock.status }}</td>
                            <td>
                                <a target="_blank" href="{{ mock.origin.host ~ mock.uri }}">{{ mock.uri }}</a>
                            </td>
                            <td class="text-end">
                                <a class="btn" target="_blank" href="{{ '/mock/' ~ mock.origin.name ~ mock.uri }}">View</a>
                                <a class="btn btn-primary" href="{{ path('admin.mock.edit', { 'origin_id': mock.origin.name, 'mock_id': mock.id }) }}">Edit</a>
                                <a class="btn btn-danger" href="{{ path('admin.mock.delete', { 'origin_id': mock.origin.name, 'mock_id': mock.id }) }}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">There are no mocks created or recorded from existing proxy origins.</td>
                    </tr>
                {% endif %}
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-end">
            <a class="btn btn-outline-primary" href="{{ path('admin.mock.list.complete') }}">See all mock records</a>
        </div>
    </div>
{% endblock %}