{% extends 'admin/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="container">
        {{ form_start(form) }}

        {{ form_errors(form) }}

        {% do form.name.setRendered() %}

        {{ form_row(form.status, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.headers, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.body, {'attr': {'class': 'form-control'}}) }}

        <hr class="my-4">

        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}, 'label': 'Save'}) }}

        <a href="{{ path('admin.mock.list') }}" class="btn btn-outline-secondary">Cancel</a>

        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}