{% extends 'admin/mock/layout.html.twig' %}

{% block title %}Edit mock record{% endblock %}

{% block content %}
    <div class="row">
        <div class="container">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="form-group mb-4">
                <div class="card p-4">
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.method, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.status, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    {{ form_row(form.uri, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(form.filePath, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group mb-4">
                <div class="card">
                    <div class="card-header">
                        <div class="d-inline-block">Headers</div>
                        <button
                                type="button"
                                class="add-another-collection-widget btn btn-primary position-relative float-end align-top"
                                data-list-selector="#headers-fields-list"
                        >+</button>
                    </div>
                    <div class="card-body">
                        <div
                                id="headers-fields-list"
                                data-prototype="{{ form_widget(form.headers.vars.prototype)|e }}"
                                data-widget-tags="{{ '<div class="headers_entry input-group"></div>'|e }}"
                                data-widget-counter="{{ form.headers|length }}"
                        >
                            {% for headerField in form.headers %}
                                <div class="headers_entry input-group">
                                    {{ form_errors(headerField) }}
                                    {{ form_widget(headerField) }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% do form.headers.setRendered() %}
            </div>

            <div class="form-group mb-4">
                <div class="card">
                    <div class="card-header">
                        Content
                    </div>
                    <div class="card-body">
                        {{ form_errors(form.content) }}
                        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>

            <div class="form-group mb-4">
                <div class="card">
                    <div class="card-header">Security configuration</div>
                    <div class="card-body">
                        <div class="form-check mb-3">
                            {{ form_widget(form.lock) }}
                            {{ form_label(form.lock) }}
                            {{ form_help(form.lock) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group mt-5 mb-5">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}, 'label': 'Save'}) }}
                <a href="{{ path('admin.mock.list', {'origin_id': mock.originId}) }}" class="btn btn-outline-secondary">Cancel</a>
                <a href="{{ path('admin.mock.delete', {'origin_id': mock.originId, 'mock_id': mock.id}) }}" class="btn btn-danger">Delete</a>
            </div>

        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}