{% extends 'admin/mock/layout.html.twig' %}

{% block title %}Mock records{% endblock %}

{% block actions %}
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a class="btn btn-outline-primary" href="{{ path('admin.mock.list.add') }}">Add +</a>
            </div>
        </div>
{% endblock %}

{% block content %}
    <div id="list-table" class="table-responsive">
        <div class="row-cols-2 mb-3">
            <div class="input-group">
                <input type="text" class="form-control search" placeholder="Search mock record" aria-label="Search mock record">
            </div>
        </div>
        <table class="table table-striped table-borderless">
            <thead class="thead-dark">
                <tr>
                    <th>Created</th>
                    {% if origin is none %}
                    <th>Origin</th>
                    {% endif %}
                    <th>Method</th>
                    <th>Status</th>
                    <th>Request</th>
                    <th>Original request URL</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody class="list">
            {% if mocks is not empty %}
                {% for mock in mocks %}
                    <tr>
                        <td class="created">{% if mock.date is not empty %}{{ mock.date }}{% else %}-{% endif %}</td>
                        {% if origin is none %}
                            <td class="origin">
                                <a href="{{ path('admin.mock.list', { 'origin_id': mock.origin.name }) }}">{{ mock.origin.label }}</a>
                            </td>
                        {% endif %}
                        <td class="method">{{ mock.method }}</td>
                        <td class="status">{{ mock.status }}</td>
                        <td class="request">
                        {% if mock.request is not empty %}
                            <h4><span class="badge bg-success">Yes</span></h4>
                        {% else %}
                            <h4><span class="badge bg-danger">No</span></h4>
                        {% endif %}
                        </td>
                        <td class="uri">
                            <a target="_blank" href="{{ mock.origin.host ~ mock.uri }}">{{ mock.uri }}</a>
                        </td>
                        <td class="text-end">
                            <a class="btn" target="_blank" href="{{ '/mock/' ~ mock.origin.name ~ mock.uri }}">View</a>
                            <a class="btn btn-primary" href="{{ path('admin.mock.edit', { 'origin_id': mock.origin.name, 'mock_id': mock.id }) }}">Edit</a>
                            <a class="btn btn-danger" href="{{ path('admin.mock.delete', { 'origin_id': mock.origin.name, 'mock_id': mock.id }) }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">There are no mocks created or recorded from existing proxy origins.</td>
                </tr>
            {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}